<ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="{% url 'regproje:index' %}">
                <i class="bi bi-house-fill"></i>
                Башкы бет
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="">
                <i class="bi bi-archive"></i>
                 Долбоордун абалы
              </a>
            </li>
          </ul>
        </li>
</ul>